* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Wrapper */
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(72, 84, 97);
  background: linear-gradient(
    90deg,
    rgba(72, 84, 97, 1) 0%,
    rgba(40, 49, 59, 1) 100%
  );
}

/* Player */
.player {
  background: #333;
  border-radius: 30px;
  max-width: 380px;
  width: 100%;
  padding: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);

  /* Title */
  .title {
    text-align: center;
    font-size: 1.5rem;
    color: #ccc;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

  /* Cover */
  .cover {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: #666;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);

    /* Song Title */
    .song_title {
      text-align: center;
      font-size: 1.25rem;
      color: #ccc;
      margin-top: 10px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);

      &.active {
        animation: rotateAnimation 3s linear infinite;
      }
    }
  }

  /* Song */
  .song {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    color: #eee;
    font-size: 1.2rem;
    line-height: 1.5;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

  /* Progress Container */
  .progress_container {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #444;
    margin-top: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;

    /* Progress Bar */
    .progress {
      background-color: #777;
      height: 6px;
      border-radius: 5px;

      /* Progress Bar Animation */
      animation: progressAnimation 3s linear infinite;
    }
  }
}

.duration {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #cabfbf;
}

/* Buttons */
.buttons {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // max-width: 150px;
  width: 100%;

  /* Buttons */
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: #444444;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }

  .btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-shadow: none;
  }

  .btn:first-child {
    background-color: #e74c3c;
  }

  .btn:first-child:hover {
    background-color: #c0392b;
  }

  .btn:first-child:active {
    background-color: #d35400;
  }

  .btn:last-child {
    background-color: #3498db;
  }

  .btn:last-child:hover {
    background-color: #2980b9;
  }

  .btn:last-child:active {
    background-color: #1abc9c;
  }
}

.btn {
  background-color: #1abc9c;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #16a085;
}

/* Keyframe animation for song title */
@keyframes rotateAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
